* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
    position: relative;
}

.promo {
    height: 800px;
    background: url(../bg/main_bg.png) center center/cover no-repeat;
    padding: 38px 0 62px 0;
}

.logo .logo_img {
    margin: 0 auto;
    display: block;
}

.logo .logo_text {
    color: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
}

 .title {
    font-style: normal;
    font-weight: 900;
    font-size: 41px;
    text-align: center;
    color: #F9BF3B;
    line-height: 24px;
    text-transform: uppercase;
}

.simple .title_big {
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    margin-top: 21px;
}

 h1 {
    margin-top: 53px;
}

h2.title { 
margin-top: 21px;
}

.promo .promo_text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    padding: 0 13px;
    margin: 23px;
}

.promo .promo_text span {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 28px;
    color: #F9BF3B;
}

.promo .promo_btn {
    display: block;
    width: 313px;
    height: 72px;
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
    color: #FFFFFF;
    text-align: center;
    font-size: 21px;
    margin: 73px auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.more {
    margin-top: 71px;
    
}

.more .more_text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
}

.more .more_img {
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}

.waiting {
    min-height: 607px;
    background: #EFEFEF;
    padding: 88px 0 75px 0;
}

.waiting .waiting_header, .finish .finish_header {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #252525;
}

.finish .finish_header {
    color:#FFFFFF;
}

.waiting .waiting_divider, .finish .finish_divider {
    width: 220px;
    height: 7px;
    background: #F9BF3B;
    margin: 0 auto;
    margin-top: 18px;
} 

.waiting .waiting_subheader {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    text-align: center;
    color: #4A4A4A;
    margin-top: 18px;
}

.waiting .waiting_wrapper {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.waiting .waiting_wrapper .waiting_item {
    width: 342px;
    text-align: center;
}

.waiting .waiting_wrapper .waiting_item .waiting_img {
    widt: 100%;
}

.waiting .waiting_wrapper .waiting_item .waiting_descr {
    margin-top: 26px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    color: #4A4A4A;
}

.optimization {
    min-height: 547px;
    padding: 108px 0 74px 0;
}

.optimization .optimization_header {
    text-transform: uppercase;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    color: #299CBD;
    margin-left: 391px;
}

.optimization .optimization_text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
    color: #4A4A4A;
    margin-left: 391px;
}

.optimization .optimization_text span {
    font-style: normal;
    font-weight: bold;
}

.optimization .optimization_img {
    position: absolute;
    top: -48px;
    left: -240px;
    z-index: -1;
}

.finish {
    min-height: 447px;
    padding: 86px 0 69px 0;
    background: url('/bg/second_bg.png') center center/cover no-repeat;
}

.finish .finish_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 39px;
}

.finish .finish_wrapper .finish_item {
    width: 234px;
}

.finish .finish_wrapper .finish_item .finish_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
    width: 118px;
    height: 118px;
    background: #B4E2FF;
    border-radius: 100%;
}

.finish .finish_wrapper .finish_item .finish_descr {
    margin-top: 25px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    color: #EFEFEF;
}

.gift {
    min-height: 631px;
    padding: 85px 0 88px 0;
    background: #EFEFEF;
}

.gift .gift_img {
    display: flex;
    justify-content: center;
    margin: 0 auto; 
}

.gift .gift_descr {
    margin-top: 45px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 43px;
    color: #252525;
}

.gift .gift_btn {
    display: flex;
    justify-content: center;
    align-items:center;
    width: 313px;
    height: 72px;   
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    font-size: 21px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 51px auto;
    margin-top: 51px;
}

.first {
    min-height: 510px;
    padding: 87px 0 53px 0;
    display: flex;
}

.first .first_img {
    display: flex;
    justify-content: center;
    margin: 0 auto;    
}

.first .first_header {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase; 
    text-align: center;
    margin-top: 36px;
} 

.first .subheader_first {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #299CBD;
    margin-top: 30px;
}

.first .first_descr {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    margin-top: 25px;
    text-align: center;
    color: #4A4A4A;
}

footer {
    min-height: 169px;
    background: #1A1A1A;
    padding: 57px 0 69px 0;
    text-align: center;
    color: #888888;
}

footer a {
    text-decoration: none;
    color: #888888;
    text-decoration-line: underline;
}

footer .footer_descr {

}

